<div class="faq_area section_padding_130" id="faq">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
        <!-- Section Heading-->
        <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <h3><span>Frequently </span> Asked Questions</h3>
          <p>Got questions? The team behind Hero Battle is here for you!</p>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>



  <div class="row justify-content-center">
    <!-- FAQ Area-->
    <div class="col-12 col-sm-10 col-lg-8">
      <div class="accordion faq-accordian" id="faqAccordion">
        <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <div class="card-header" id="headingOne">
            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How does Hero Battle work?<span class="lni-chevron-up"></span></h6>
          </div>
          <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quidem facere deserunt sint animi sapiente vitae suscipit.</p>
            </div>
          </div>
        </div>

        <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
          <div class="card-header" id="headingTwo">
            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Which Heroes can I pick?<span class="lni-chevron-up"></span></h6>
          </div>
          <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quidem facere deserunt sint animi sapiente vitae suscipit.</p>
            </div>
          </div>
        </div>
        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
          <div class="card-header" id="headingThree">
            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">The Story Behind the App<span class="lni-chevron-up"></span></h6>
          </div>
          <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqAccordion">
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quidem facere deserunt sint animi sapiente vitae suscipit.</p>
            </div>
          </div>
        </div>
        <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <div class="card-header" id="headingFour">
            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">WORK WITH ME BOOTSRAP PLS<span class="lni-chevron-up"></span></h6>
          </div>
          <div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#faqAccordion">
            <div class="card-body">
              <h2>GODDAMN FINALLY</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ask justin how to get inside beautiful card animation shit.  -->
<!--<div class="container">
    <button (click)="toggleDisplay()">
      Click me
    </button>

    <div *ngIf="display == true">
      <p>I will be toggled</p>
    </div>
  </div>



  <div class="dropdown">
    <button type="button"
            class="btn btn-primary dropdown-toggle"
            data-bs-toggle="dropdown">
      Test Dropdown
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Choice 1</a>
      <a class="dropdown-item" href="#">Choice 2</a>
      <a class="dropdown-item" href="#">Choice 3</a>
    </div>
  </div>

</div>-->
