<div class="ItemBG">
  <div class="shop">
    <div><h4 style="color:forestgreen">Player Credits: {{currentInv.money}}</h4><p>{{message}}</p></div>
    <div class="container" *ngFor="let i of allItems; index as d">
      <div class="row">
        <div class="col-lg-8 cringe">
          {{d + 1}}. {{i.itemName}} | {{i.itemDescription}}
        </div>
        <div class="col-lg-4 cringe">
          Price: {{i.itemPrice}} Credits <button class="btn btn-primary" (click)="purchaseItem(i.id, i.itemPrice)">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="shopINV cringe">
    <p>
      Item Slot 1: {{allItems[currentInv.itemOne-1].itemName}}
    </p>
    <p>
      Item Slot 2: {{allItems[currentInv.itemTwo -1 ].itemName}}
    </p>

    <div>
      <button class="btn btn-danger" [routerLink]="'/Battle'">CLICK ONLY IF READY TO BATTLE INTENSELY FOR .02 SECONDS</button>
    </div>
  </div>
</div>
